# Annual survey of entrepreneurs

This is new data. It supplements the every-five-years "Survey of Business Owners" and adds a new data point, the age of businesses in years of operation.

This includes only data on firms with paid employees.

In [1]:
import pandas as pd, os, re

In [2]:
def import_csvs(folder):
    ret = {}
    for f in filter(lambda x: ".csv" in x.lower(), os.listdir(folder)):
        ret[f] = pd.read_csv(folder + f)
    return ret

state_frames = import_csvs("data/")
national_frames = import_csvs("data/national/")

/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2825: DtypeWarning: Columns (1,5,7,9,11,13,14,18) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2825: DtypeWarning: Columns (1,5,7,9,11,13,15,16,20) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [3]:
# def collapse(df):
#     return df[
#         (df["SEX.display-label"] == "All firms") &\
#         (df["RACE_GROUP.display-label"] == "All firms") &\
#         (df["ETH_GROUP.display-label"] == "All firms") &\
#         (df["VET_GROUP.display-label"] == "All firms") &\
#         (df["NAICS.display-label"] == "Total for all sectors")]

# def collapse_race(df):
#     return df[
#         (df["SEX.display-label"] == "All firms") &\
# #         (df["RACE_GROUP.display-label"] == "All firms") &\
#         (df["ETH_GROUP.display-label"] == "All firms") &\
#         (df["VET_GROUP.display-label"] == "All firms") &\
#         (df["NAICS.display-label"] == "Total for all sectors")]

def collapse_all_but(df, cols):
    masks = [("SEX.display-label","All firms"),
             ("RACE_GROUP.display-label","All firms"),
             ("ETH_GROUP.display-label","All firms"),
             ("VET_GROUP.display-label","All firms"),
             ("YIBSZFI.display-label","All firms"),
             ("NAICS.display-label","Total for all sectors")]
    tmpdf = df;
    for mask in masks:
        if mask[0] in cols:
            continue
        tmpdf = tmpdf[tmpdf[mask[0]] == mask[1]]
    return tmpdf

def collapse_race(df):
    return collapse_all_but(df, ["RACE_GROUP.display-label"])

def collapse(df):
    return collapse_all_but(df, ["NOTHING"])

# Margins of error

Margins of error are very high for small groups, such as specific racial groups, but I just focused on minorities as a whole, which has a much smaller MOE.

In [93]:
collapse_all_but(ct_frame, "YIBSZFI.display-label")[["YIBSZFI.display-label","FIRMPDEMP_S"]]

                          YIBSZFI.display-label  FIRMPDEMP_S
23815                                 All firms          0.7
23816  Firms with less than 2 years in business          2.8
23817       Firms with 2 to 3 years in business          2.2
23818       Firms with 4 to 5 years in business          3.6
23819      Firms with 6 to 10 years in business          2.1
23820     Firms with 11 to 15 years in business          1.0
23821   Firms with 16 or more years in business          3.5

In [95]:
collapse_all_but(ct_frame, "SEX.display-label")[["SEX.display-label","FIRMPDEMP_S"]]

                                       SEX.display-label  FIRMPDEMP_S
23815                                          All firms          0.7
23969                                       Female-owned          3.7
23976                                         Male-owned          2.1
23983                         Equally male-/female-owned          6.0
23990  All firms classifiable by gender, ethnicity, r...          0.8
23997  Publicly held and other firms not classifiable...          5.6

In [91]:
collapse_all_but(ct_frame, "RACE_GROUP.display-label")[["RACE_GROUP.display-label","FIRMPDEMP_S"]]

                                RACE_GROUP.display-label  FIRMPDEMP_S
23815                                          All firms          0.7
23857                                              White          1.2
23864                          Black or African American         24.0
23871                  American Indian and Alaska Native         46.9
23878                                              Asian          8.5
23885         Native Hawaiian and Other Pacific Islander         80.0
23892                                    Some other race         19.2
23899                                           Minority          6.7
23906                       Equally minority/nonminority         22.8
23913                                        Nonminority          1.2
23920  All firms classifiable by gender, ethnicity, r...          0.8
23927  Publicly held and other firms not classifiable...          5.6

In [88]:
ct_frame = state_frames["ASE_2014_00CSA02_with_ann.csv"]\
              [(state_frames["ASE_2014_00CSA02_with_ann.csv"]["GEO.display-label"]=="Connecticut")]
ct_frame["FIRMPDEMP_S"] = pd.to_numeric(ct_frame["FIRMPDEMP_S"])
ct_frame.sort_values(by="FIRMPDEMP_S",ascending=False)
ct

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,GEO.id,GEO.id2,GEO.display-label,NAICS.id,NAICS.display-label,SEX.id,SEX.display-label,ETH_GROUP.id,ETH_GROUP.display-label,RACE_GROUP.id,...,YIBSZFI.display-label,YEAR.id,FIRMPDEMP,RCPPDEMP,EMP,PAYANN,FIRMPDEMP_S,RCPPDEMP_S,EMP_S,PAYANN_S
26773,0400000US09,09,Connecticut,61,Educational services,001,All firms,020,Hispanic,00,...,Firms with 6 to 10 years in business,2014,29,S,b,S,124.6,S,S,S
26661,0400000US09,09,Connecticut,61,Educational services,001,All firms,001,All firms,00,...,Firms with 6 to 10 years in business,2014,29,S,b,S,124.6,S,S,S
26738,0400000US09,09,Connecticut,61,Educational services,001,All firms,001,All firms,90,...,Firms with 6 to 10 years in business,2014,29,S,b,S,124.6,S,S,S
24183,0400000US09,09,Connecticut,11(650),"Agriculture, forestry, fishing and hunting(650)",096,"All firms classifiable by gender, ethnicity, r...",001,All firms,00,...,Firms with 6 to 10 years in business,2014,31,S,c,S,124.5,S,S,S
24141,0400000US09,09,Connecticut,11(650),"Agriculture, forestry, fishing and hunting(650)",001,All firms,029,Non-Hispanic,00,...,Firms with 6 to 10 years in business,2014,31,S,c,S,124.5,S,S,S
24162,0400000US09,09,Connecticut,11(650),"Agriculture, forestry, fishing and hunting(650)",002,Female-owned,001,All firms,00,...,Firms with 6 to 10 years in business,2014,31,S,c,S,124.5,S,S,S
24113,0400000US09,09,Connecticut,11(650),"Agriculture, forestry, fishing and hunting(650)",001,All firms,001,All firms,96,...,Firms with 6 to 10 years in business,2014,31,S,c,S,124.5,S,S,S
24025,0400000US09,09,Connecticut,11(650),"Agriculture, forestry, fishing and hunting(650)",001,All firms,001,All firms,00,...,All firms,2014,31,S,c,S,124.5,S,S,S
24050,0400000US09,09,Connecticut,11(650),"Agriculture, forestry, fishing and hunting(650)",001,All firms,001,All firms,30,...,Firms with 6 to 10 years in business,2014,31,S,c,S,124.5,S,S,S
24036,0400000US09,09,Connecticut,11(650),"Agriculture, forestry, fishing and hunting(650)",001,All firms,001,All firms,00,...,Firms with 6 to 10 years in business,2014,31,S,c,S,124.5,S,S,S
24148,0400000US09,09,Connecticut,11(650),"Agriculture, forestry, fishing and hunting(650)",001,All firms,096,"All firms classifiable by gender, ethnicity, r...",00,...,Firms with 6 to 10 years in business,2014,31,S,c,S,124.5,S,S,S
24158,0400000US09,09,Connecticut,11(650),"Agriculture, forestry, fishing and hunting(650)",002,Female-owned,001,All firms,00,...,All firms,2014,31,S,c,S,124.5,S,S,S
24029,0400000US09,09,Connecticut,11(650),"Agriculture, forestry, fishing and hunting(650)",001,All firms,001,All firms,00,...,Firms with 6 to 10 years in business,2014,31,S,c,S,124.5,S,S,S
24106,0400000US09,09,Connecticut,11(650),"Agriculture, forestry, fishing and hunting(650)",001,All firms,001,All firms,92,...,Firms with 6 to 10 years in business,2014,31,S,c,S,124.5,S,S,S
27199,0400000US09,09,Connecticut,71,"Arts, entertainment, and recreation",004,Equally male-/female-owned,001,All firms,00,...,Firms with 4 to 5 years in business,2014,31,S,b,S,124.4,S,S,S
26847,0400000US09,09,Connecticut,62,Health care and social assistance,001,All firms,001,All firms,00,...,Firms with less than 2 years in business,2014,31,S,e,S,124.3,S,S,S
26211,0400000US09,09,Connecticut,54,"Professional, scientific, and technical services",001,All firms,028,Equally Hispanic/non-Hispanic,00,...,Firms with 2 to 3 years in business,2014,31,S,a,S,124.3,S,S,S
26179,0400000US09,09,Connecticut,54,"Professional, scientific, and technical services",001,All firms,001,All firms,91,...,Firms with 11 to 15 years in business,2014,62,S,f,S,124.3,S,S,S
26176,0400000US09,09,Connecticut,54,"Professional, scientific, and technical services",001,All firms,001,All firms,91,...,Firms with 2 to 3 years in business,2014,31,S,a,S,124.3,S,S,S
27296,0400000US09,09,Connecticut,72,Accommodation and food services,001,All firms,001,All firms,80,...,Firms with 2 to 3 years in business,2014,31,S,c,S,124.3,S,S,S
25220,0400000US09,09,Connecticut,44-45,Retail trade,001,All firms,001,All firms,80,...,Firms with 11 to 15 years in business,2014,31,S,e,S,124.3,S,S,S
25216,0400000US09,09,Connecticut,44-45,Retail trade,001,All firms,001,All firms,80,...,Firms with less than 2 years in business,2014,31,S,b,S,124.3,S,S,S
25267,0400000US09,09,Connecticut,44-45,Retail trade,001,All firms,028,Equally Hispanic/non-Hispanic,00,...,Firms with 4 to 5 years in business,2014,31,S,b,S,124.3,S,S,S
25268,0400000US09,09,Connecticut,44-45,Retail trade,001,All firms,028,Equally Hispanic/non-Hispanic,00,...,Firms with 6 to 10 years in business,2014,31,S,b,S,124.3,S,S,S
25269,0400000US09,09,Connecticut,44-45,Retail trade,001,All firms,028,Equally Hispanic/non-Hispanic,00,...,Firms with 11 to 15 years in business,2014,31,S,e,S,124.3,S,S,S
25961,0400000US09,09,Connecticut,53,Real estate and rental and leasing,001,All firms,001,All firms,60,...,Firms with 6 to 10 years in business,2014,31,S,c,S,124.3,S,S,S
26668,0400000US09,09,Connecticut,61,Educational services,001,All firms,001,All firms,00,...,Firms with 6 to 10 years in business,2014,31,S,e,S,124.3,S,S,S
26895,0400000US09,09,Connecticut,62,Health care and social assistance,001,All firms,001,All firms,50,...,All firms,2014,31,S,c,S,124.3,S,S,S
26899,0400000US09,09,Connecticut,62,Health care and social assistance,001,All firms,001,All firms,50,...,Firms with 6 to 10 years in business,2014,31,S,c,S,124.3,S,S,S
25714,0400000US09,09,Connecticut,52(652),Finance and insurance(652),001,All firms,001,All firms,00,...,Firms with 2 to 3 years in business,2014,31,S,b,S,124.3,S,S,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25594,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,80,...,Firms with less than 2 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25595,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,80,...,Firms with 2 to 3 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25596,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,80,...,Firms with 4 to 5 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25598,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,80,...,Firms with 11 to 15 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25589,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,70,...,Firms with 4 to 5 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25599,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,80,...,Firms with 16 or more years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25603,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,90,...,Firms with 4 to 5 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25604,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,90,...,Firms with 6 to 10 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25605,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,90,...,Firms with 11 to 15 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25606,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,90,...,Firms with 16 or more years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25608,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,91,...,Firms with less than 2 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25590,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,70,...,Firms with 6 to 10 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25588,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,70,...,Firms with 2 to 3 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25569,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,40,...,Firms with 6 to 10 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25576,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,50,...,Firms with 6 to 10 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25570,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,40,...,Firms with 11 to 15 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25571,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,40,...,Firms with 16 or more years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25572,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,50,...,All firms,2014,0,B,0,0,0.0,S,0.0,0.0
25573,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,50,...,Firms with less than 2 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25574,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,50,...,Firms with 2 to 3 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25575,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,50,...,Firms with 4 to 5 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25577,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,50,...,Firms with 11 to 15 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25587,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,70,...,Firms with less than 2 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25578,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,50,...,Firms with 16 or more years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25582,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,60,...,Firms with 4 to 5 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25583,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,60,...,Firms with 6 to 10 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25584,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,60,...,Firms with 11 to 15 years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25585,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,60,...,Firms with 16 or more years in business,2014,0,B,0,0,0.0,S,0.0,0.0
25586,0400000US09,09,Connecticut,51,Information,001,All firms,001,All firms,70,...,All firms,2014,0,B,0,0,0.0,S,0.0,0.0
27783,0400000US09,09,Connecticut,99,Industries not classified,098,Publicly held and other firms not classifiable...,001,All firms,00,...,Firms with 16 or more years in business,2014,0,B,0,0,0.0,S,0.0,0.0

In [80]:
pd.to_numeric(state_frames["ASE_2014_00CSA02_with_ann.csv"]\
              [state_frames["ASE_2014_00CSA02_with_ann.csv"]["GEO.display-label"]=="Connecticut"]["FIRMPDEMP_S"]).describe()

count    3969.000000
mean       31.151222
std        39.100569
min         0.000000
25%         0.000000
50%        14.200000
75%        51.100000
max       124.600000
Name: FIRMPDEMP_S, dtype: float64

In [73]:
national_frames["ASE_2014_00CSA02_metadata.csv"]

,GEO.id,Geographic identifier code
0,GEO.id2,Id2
1,GEO.display-label,Geographic area name
2,NAICS.id,2012 NAICS code
3,NAICS.display-label,Meaning of 2012 NAICS code
4,SEX.id,Gender code
5,SEX.display-label,Meaning of Gender code
6,ETH_GROUP.id,Ethnicity code
7,ETH_GROUP.display-label,Meaning of Ethnicity code
8,RACE_GROUP.id,Race code
9,RACE_GROUP.display-label,Meaning of Race code
10,VET_GROUP.id,Veteran code
11,VET_GROUP.display-label,Meaning of Veteran code
12,YIBSZFI.id,Years in business code
13,YIBSZFI.display-label,Meaning of Years in business code
14,YEAR.id,Year
15,FIRMPDEMP,Number of firms with paid employees
16,RCPPDEMP,"Sales, receipts, or value of shipments of firm..."
17,EMP,Number of paid employees for pay period includ...
18,PAYANN,"Annual payroll ($1,000)"
19,FIRMPDEMP_S,Relative standard error of number of firms wit...
20,RCPPDEMP_S,"Relative standard error of sales, receipts, or..."
21,EMP_S,Relative standard error of number of paid empl...
22,PAYANN_S,Relative standard error of annual payroll (%)

In [5]:
def years_in_biz_summary(df):
    tmpdf = df
    tmpdf["FIRMPDEMP"] = pd.to_numeric(tmpdf["FIRMPDEMP"])
    tmpdf = df.groupby(["GEO.display-label","YIBSZFI.display-label"]).sum().reset_index()
    #tmpdf_total = float(tmpdf[tmpdf["YIBSZFI.display-label"] == "All firms"]["FIRMPDEMP"].sum())
    #tmpdf["PCT_FIRMPDEMP"] = tmpdf["FIRMPDEMP"] * 100 / tmpdf_total
    return tmpdf

years_in_biz_summary(collapse(national_frames["ASE_2014_00CSA02_with_ann.csv"]))

  GEO.display-label YIBSZFI.display-label  FIRMPDEMP
0     United States             All firms    5437782

In [6]:
years_in_biz_summary(collapse(state_frames["ASE_2014_00CSA02_with_ann.csv"]))

       GEO.display-label YIBSZFI.display-label  FIRMPDEMP
0                Alabama             All firms      66709
1                 Alaska             All firms      15467
2                Arizona             All firms      97312
3               Arkansas             All firms      46509
4             California             All firms     681808
5               Colorado             All firms     122432
6            Connecticut             All firms      67920
7               Delaware             All firms      17977
8   District of Columbia             All firms      14345
9                Florida             All firms     394946
10               Georgia             All firms     159271
11                Hawaii             All firms      23250
12                 Idaho             All firms      35100
13              Illinois             All firms     241031
14               Indiana             All firms     100200
15                  Iowa             All firms      60205
16                Kansas             All firms      55600
17              Kentucky             All firms      63771
18             Louisiana             All firms      76494
19                 Maine             All firms      31343
20              Maryland             All firms     100593
21         Massachusetts             All firms     130710
22              Michigan             All firms     161794
23             Minnesota             All firms     111389
24           Mississippi             All firms      40444
25              Missouri             All firms     108075
26               Montana             All firms      30458
27              Nebraska             All firms      41574
28                Nevada             All firms      45804
29         New Hampshire             All firms      28920
30            New Jersey             All firms     183712
31            New Mexico             All firms      32755
32              New York             All firms     432907
33        North Carolina             All firms     154116
34          North Dakota             All firms      20702
35                  Ohio             All firms     172674
36              Oklahoma             All firms      68159
37                Oregon             All firms      84159
38          Pennsylvania             All firms     212828
39          Rhode Island             All firms      22757
40        South Carolina             All firms      72059
41          South Dakota             All firms      21568
42             Tennessee             All firms      88354
43                 Texas             All firms     387504
44                  Utah             All firms      58085
45               Vermont             All firms      17259
46              Virginia             All firms     138881
47            Washington             All firms     137117
48         West Virginia             All firms      25193
49             Wisconsin             All firms     103497
50               Wyoming             All firms      17167

In [7]:
def years_in_biz_state(state):
    df = years_in_biz_summary(collapse(state_frames["ASE_2014_00CSA02_with_ann.csv"]))
    df = df[df["GEO.display-label"].str.upper() == state.upper()]
    df_total = float(df[df["YIBSZFI.display-label"] == "All firms"]["FIRMPDEMP"])
    df["PCT_FIRMPDEMP"] = df["FIRMPDEMP"] * 100.0 / df_total
    return df
years_in_biz_state("Connecticut")

  GEO.display-label YIBSZFI.display-label  FIRMPDEMP  PCT_FIRMPDEMP
6       Connecticut             All firms      67920          100.0

In [8]:
def by_col(cols=["RACE_GROUP.display-label"],
           df=state_frames["ASE_2014_00CSA02_with_ann.csv"]):
    df = collapse_all_but(df, cols)
    df["FIRMPDEMP"] = pd.to_numeric(df["FIRMPDEMP"],errors="coerce")
    df = df.groupby(["GEO.display-label"] + cols).sum()
    return df.reset_index()

def by_col_state(state="Connecticut",
                 cols=["RACE_GROUP.display-label"],
                 df=state_frames["ASE_2014_00CSA02_with_ann.csv"]):
    df = by_col(cols=cols,df=df)
    df = df[df["GEO.display-label"] == state]
    df_total = float(df[df[cols[0]] == "All firms"]["FIRMPDEMP"])
    df["PCT_FIRMPDEMP"] = df["FIRMPDEMP"] * 100 / df_total
    return df
    
def minority_owned(state):
    df = by_col_state(state)
    return float(df[df["RACE_GROUP.display-label"] == "Minority"]["PCT_FIRMPDEMP"])

by_col_state(state="Hawaii")
by_col_state(state="California")

#by_col_state(state="Hawaii",col="ETH_GROUP.display-label")
#by_col_state(state="Hawaii",col="SEX.display-label")

minority_owned("Hawaii")

53.8494623655914

# Checking reports against summary

### Minority-owned

From the Census report: 

"Hawaii and California led all states in the percentage of all employer businesses that were minority-owned, at 53.8 percent and 32.0 percent, respectively. The remaining states (or equivalents) in which approximately 20.0 percent or more of employer businesses were minority-owned were the District of Columbia (21.8 percent), Florida (24.3 percent), Georgia (20.2 percent), Maryland (22.5 percent), Nevada (18.3 percent), New Jersey (22.4 percent), New Mexico (23.6 percent), New York (21.4 percent), Texas (26.4 percent) and Virginia (20.1 percent)."

In the below computation I determine that all of the computed results are within rounding of the numbers in the paragraph above.

In [9]:
def check_minority_owned():
    states_to_check = ("Hawaii",53.8),("California",32.0),("District of Columbia",21.8),\
    ("Florida",24.3),("Georgia",20.2),("Maryland",22.5),("Nevada",18.3),("New Jersey",22.4),\
    ("New Mexico",23.6),("New York",21.4),("Texas",26.4),("Virginia",20.1)
    
    print "State\tmin_owned\texpected\tdiff"
    for st in states_to_check:
        min_owned = minority_owned(st[0])
        print st[0] + "\t" + str(min_owned) + "\t" + str(st[1]) + "\t" + str(st[1] - min_owned)
        
check_minority_owned()

State	min_owned	expected	diff
Hawaii	53.8494623656	53.8	-0.0494623655914
California	31.9575305658	32.0	0.0424694342102
District of Columbia	21.8194492855	21.8	-0.0194492854653
Florida	24.2585062262	24.3	0.0414937738324
Georgia	20.1687689535	20.2	0.0312310464554
Maryland	22.4985834004	22.5	0.00141659956458
Nevada	18.3302768317	18.3	-0.0302768317178
New Jersey	22.4155199443	22.4	-0.0155199442606
New Mexico	23.6086093726	23.6	-0.00860937261487
New York	21.4362438122	21.4	-0.0362438121814
Texas	26.3666955696	26.4	0.0333044304059
Virginia	20.1438641715	20.1	-0.0438641714849

In [10]:
print str(minority_owned("Connecticut")) + " percent of Connecticut businesses are minority-owned"

11.1425206125 percent of Connecticut businesses are minority-owned

In [38]:
# For chart output
def tsvframe(df):
    print df.to_csv(sep="\t",index=False)

ct_business_ages_for_chart = by_col_state(cols=["YIBSZFI.display-label"])
ct_business_ages_for_chart

,GEO.display-label,YIBSZFI.display-label,FIRMPDEMP,PCT_FIRMPDEMP
42,Connecticut,All firms,67920,100.000000
43,Connecticut,Firms with 11 to 15 years in business,33760,49.705536
44,Connecticut,Firms with 16 or more years in business,4743,6.983216
45,Connecticut,Firms with 2 to 3 years in business,7364,10.842167
46,Connecticut,Firms with 4 to 5 years in business,4999,7.360130
47,Connecticut,Firms with 6 to 10 years in business,12169,17.916667
48,Connecticut,Firms with less than 2 years in business,4884,7.190813

In [48]:
ct_business_ages_for_chart.columns = "State", "age", "Businesses","Percent"
ct_business_ages_for_chart = ct_business_ages_for_chart.drop(42)
ct_business_ages_for_chart["Percent"] = ct_business_ages_for_chart.apply(lambda x: int(round(x["Percent"])),axis=1)
print tsvframe(ct_business_ages_for_chart[["age", "Businesses"]])

age	Businesses
Firms with 11 to 15 years in business	33760
Firms with 16 or more years in business	4743
Firms with 2 to 3 years in business	7364
Firms with 4 to 5 years in business	4999
Firms with 6 to 10 years in business	12169
Firms with less than 2 years in business	4884

None

In [40]:
round(10.2)

10.0

In [11]:
by_col_state(cols=["SEX.display-label"])

,GEO.display-label,SEX.display-label,FIRMPDEMP,PCT_FIRMPDEMP
36,Connecticut,All firms,67920,100.000000
37,Connecticut,"All firms classifiable by gender, ethnicity, r...",61988,91.266196
38,Connecticut,Equally male-/female-owned,5588,8.227326
39,Connecticut,Female-owned,11483,16.906655
40,Connecticut,Male-owned,44916,66.130742
41,Connecticut,Publicly held and other firms not classifiable...,5932,8.733804

In [12]:
by_col_state(cols=["RACE_GROUP.display-label"])

,GEO.display-label,RACE_GROUP.display-label,FIRMPDEMP,PCT_FIRMPDEMP
72,Connecticut,All firms,67920,100.000000
73,Connecticut,"All firms classifiable by gender, ethnicity, r...",61988,91.266196
74,Connecticut,American Indian and Alaska Native,139,0.204653
75,Connecticut,Asian,4522,6.657833
76,Connecticut,Black or African American,813,1.196996
77,Connecticut,Equally minority/nonminority,709,1.043875
78,Connecticut,Minority,7568,11.142521
79,Connecticut,Native Hawaiian and Other Pacific Islander,77,0.113369
80,Connecticut,Nonminority,53711,79.079800
81,Connecticut,Publicly held and other firms not classifiable...,5932,8.733804
82,Connecticut,Some other race,553,0.814193
83,Connecticut,White,55887,82.283569

In [27]:
def for_every_state(f,
                   df=state_frames["ASE_2014_00CSA02_with_ann.csv"].drop(0)):
    for st in df["GEO.display-label"].unique():
        f(st)

def ct():
    state_df = state_frames["ASE_2014_00CSA02_with_ann.csv"]
    return state_df[state_df["GEO.display-label"] == "Connecticut"]

def print_x(x):
    print x
    
def minority_x(x):
    print x + "\t" + str(minority_owned(x))


#for_every_state(minority_x)
def rows_state(col="YIBSZFI.display-label",state="Connecticut"):
    return by_col_state(cols=[col],state=state).pivot(index="GEO.display-label",
                                                    columns=col,
                                                    values="PCT_FIRMPDEMP").reset_index()

def concat_to(df, df2):
    return pd.concat([df,df2])

def states_report(col="YIBSZFI.display-label"):

    x=[]
    def add_to_x(y,x=x):
        x += [y]
        
    def state_report(state,col=col):
        add_to_x(rows_state(state=state,col=col))

    for_every_state(state_report)
        
    return pd.concat(x)[col_order]

#rows_state(col="RACE_GROUP.display-label")#[["GEO.display-label","Minority"]]

#rows_state(col="RACE_GROUP.display-label")

# Detailed tables

The following tables are a subset of the overall data, pivoted to reflect one topic.

In [33]:
col_order = [u'GEO.display-label', u'All firms',
               u'Firms with less than 2 years in business',
               u'Firms with 2 to 3 years in business',
               u'Firms with 4 to 5 years in business',
               u'Firms with 6 to 10 years in business',
               u'Firms with 11 to 15 years in business',
               u'Firms with 16 or more years in business',
              ]

states_report()[col_order].to_csv("output/states_years_in_business.csv")
states_report()[col_order]

YIBSZFI.display-label,GEO.display-label,All firms,Firms with less than 2 years in business,Firms with 2 to 3 years in business,Firms with 4 to 5 years in business,Firms with 6 to 10 years in business,Firms with 11 to 15 years in business,Firms with 16 or more years in business
0,Alabama,100.0,7.417290,11.203886,8.692980,19.721477,45.283245,7.681122
0,Alaska,100.0,7.991207,12.051464,8.980410,21.613758,41.889183,7.480442
0,Arizona,100.0,9.516812,13.858517,10.768456,22.461772,37.433205,5.961238
0,Arkansas,100.0,7.774839,11.741813,8.179062,20.718571,44.120493,7.465222
0,California,100.0,9.640104,14.221159,9.980816,22.302906,40.516685,3.338477
0,Colorado,100.0,8.838376,13.622256,9.779306,22.775908,39.794335,5.189820
0,Connecticut,100.0,7.190813,10.842167,7.360130,17.916667,49.705536,6.983216
0,Delaware,100.0,8.894699,12.304611,6.586193,18.612672,41.464093,12.137732
0,District of Columbia,100.0,8.421053,11.035204,9.285465,17.337051,39.302893,14.611363
0,Florida,100.0,10.623731,15.659862,10.809832,22.695001,36.516385,3.694936
0,Georgia,100.0,8.753006,13.657226,9.848623,22.002750,39.962705,5.775690
0,Hawaii,100.0,7.096774,10.404301,8.705376,18.804301,46.576344,8.417204
0,Idaho,100.0,7.663818,12.732194,8.572650,24.119658,40.529915,6.381766
0,Illinois,100.0,7.844219,12.002605,8.587277,20.089117,46.033913,5.442453
0,Indiana,100.0,7.570858,10.813373,8.225549,18.824351,47.351297,7.214571
0,Iowa,100.0,5.879910,10.269911,8.085707,19.269164,49.024167,7.469479
0,Kansas,100.0,7.388489,10.667266,8.041367,19.329137,47.285971,7.287770
0,Kentucky,100.0,8.485048,11.492685,7.973844,18.318671,46.187138,7.541045
0,Louisiana,100.0,7.703872,11.326379,8.969331,19.481267,45.431014,7.088138
0,Maine,100.0,7.319019,10.362760,7.880547,19.956609,48.074530,6.406534
0,Maryland,100.0,7.026334,12.262285,8.503574,19.302536,46.519141,6.386130
0,Massachusetts,100.0,7.391936,11.500268,8.000153,18.747609,49.065871,5.294928
0,Michigan,100.0,7.378518,11.106716,7.879155,18.932717,48.698345,6.005167
0,Minnesota,100.0,6.762786,10.733555,8.766575,19.086265,48.747183,5.903635
0,Mississippi,100.0,7.205024,11.353971,8.354762,18.986747,45.898032,8.198991
0,Missouri,100.0,10.137405,13.274115,8.456165,18.623178,43.257923,6.251214
0,Montana,100.0,7.853438,11.471535,8.378751,22.483420,44.096789,5.712785
0,Nebraska,100.0,7.369991,10.239573,7.427719,20.221773,47.106365,7.636985
0,Nevada,100.0,11.507729,15.791197,11.293773,23.246878,30.704742,7.455681
0,New Hampshire,100.0,6.462656,10.484094,7.337483,19.795989,48.592669,7.323651
0,New Jersey,100.0,8.366356,12.852182,9.292262,19.129943,45.836418,4.523384
0,New Mexico,100.0,7.058464,12.584338,8.365135,19.688597,44.454282,7.852236
0,New York,100.0,9.597673,14.528756,10.606666,19.493563,42.036049,3.737292
0,North Carolina,100.0,8.548107,12.293986,9.709569,21.182745,42.142931,6.123310
0,North Dakota,100.0,8.260071,15.264226,7.496860,17.660129,43.343638,7.975075
0,Ohio,100.0,6.987734,10.619433,7.367062,18.164866,50.389173,6.471154
0,Oklahoma,100.0,7.981338,12.792148,8.822019,20.848311,42.958377,6.596341
0,Oregon,100.0,8.513647,12.365879,9.453534,21.910907,42.062049,5.696360
0,Pennsylvania,100.0,7.095871,10.919616,8.247505,19.208469,49.114308,5.414701
0,Rhode Island,100.0,6.367272,10.150723,7.421892,17.924155,50.230698,7.909654
0,South Carolina,100.0,7.932389,12.682663,8.932958,20.774643,42.319488,7.359247
0,South Dakota,100.0,6.013539,11.985349,7.756862,19.649481,46.522626,8.072144
0,Tennessee,100.0,8.060756,12.440863,9.322724,18.977070,43.490957,7.708762
0,Texas,100.0,10.292797,14.777138,10.239894,20.966235,39.435980,4.287698
0,Utah,100.0,9.074632,14.711199,11.162951,23.627443,35.143324,6.280451
0,Vermont,100.0,6.274987,8.760647,7.410626,18.332464,50.315777,8.911293
0,Virginia,100.0,7.784362,12.633838,8.786659,21.789878,43.142691,5.863293
0,Washington,100.0,8.943457,13.265314,9.750067,21.916320,40.808215,5.315898
0,West Virginia,100.0,6.061207,8.692891,8.085579,17.433414,50.049617,9.673322
0,Wisconsin,100.0,6.748988,9.845696,7.670754,19.098138,50.312569,6.324821
0,Wyoming,100.0,8.399837,12.320149,7.933827,21.430652,42.570047,7.339663

In [15]:
states_report(col="RACE_GROUP.display-label").sort_values(by="Minority",ascending=False).to_csv("output/states_race.csv")
states_report(col="RACE_GROUP.display-label").sort_values(by="Minority",ascending=False)

RACE_GROUP.display-label,GEO.display-label,All firms,"All firms classifiable by gender, ethnicity, race, and veteran status",American Indian and Alaska Native,Asian,Black or African American,Equally minority/nonminority,Minority,Native Hawaiian and Other Pacific Islander,Nonminority,"Publicly held and other firms not classifiable by gender, ethnicity, race, and veteran status",Some other race,White
0,Hawaii,100.0,89.720430,0.331183,47.763441,0.451613,2.348387,53.849462,4.438710,33.522581,10.279570,0.692473,39.303226
0,California,100.0,94.868790,0.484154,20.026752,1.306820,2.701347,31.957531,0.166909,60.209912,5.131210,3.567867,68.946243
0,Texas,100.0,94.070513,0.566704,10.439892,2.197139,2.165913,26.366696,0.056257,65.537904,5.929487,2.560232,78.049775
0,Florida,100.0,95.848293,0.417779,5.901819,2.562629,1.795942,24.258506,0.055197,69.793845,4.151707,1.459693,85.615502
0,New Mexico,100.0,90.001526,1.627232,3.855900,0.552587,3.984125,23.608609,0.015265,62.408793,10.001526,4.585559,78.852084
0,Maryland,100.0,92.735081,0.430447,13.117215,6.044158,0.858907,22.498583,0.002982,69.377591,7.264919,1.117374,72.252542
0,New Jersey,100.0,94.246429,0.132817,15.041478,1.754376,0.959110,22.415520,0.022318,70.872344,5.754115,1.568760,75.837180
0,District of Columbia,100.0,77.546183,0.020913,8.713838,10.142907,0.648310,21.819449,0.000000,55.078425,22.446846,0.906239,58.445451
0,New York,100.0,94.187435,0.115036,14.475857,1.914730,0.789315,21.436244,0.046892,71.961876,5.812565,1.676342,76.019561
0,Georgia,100.0,93.764715,0.460850,11.371813,5.289726,0.605886,20.168769,0.074715,72.990061,6.235285,0.944302,76.160757
0,Virginia,100.0,93.192013,0.516269,11.774109,3.849339,1.413440,20.143864,0.075604,71.634709,6.807987,0.995817,76.164486
0,Nevada,100.0,91.048817,0.611300,9.407475,1.458388,2.737752,18.330277,0.423544,69.980788,8.951183,2.229063,77.052223
0,Delaware,100.0,86.121155,0.411637,9.751349,3.320910,0.673082,15.403015,0.038939,70.045058,13.873283,0.923402,72.642821
0,Arizona,100.0,93.093349,0.987545,5.913967,0.876562,2.698537,15.319796,0.069878,75.075016,6.905623,1.936041,83.145963
0,Washington,100.0,93.075257,0.556459,10.514378,1.003523,1.939220,15.210368,0.140756,75.925669,6.924743,1.232524,79.573649
0,Illinois,100.0,93.429476,0.320291,8.266157,1.469521,0.907352,14.918828,0.028212,77.603296,6.570524,1.512254,81.779522
0,Oklahoma,100.0,92.766913,5.300841,4.306108,0.887630,2.786132,12.924192,0.088029,77.056588,7.233087,0.774659,82.196042
0,North Carolina,100.0,93.504892,0.761115,5.621091,3.594695,0.753329,12.563264,0.063588,80.188300,6.495108,1.025851,82.681227
0,Alaska,100.0,88.161893,2.256417,4.874895,1.810306,2.023663,12.335941,0.148704,73.802289,11.838107,1.402987,77.552208
0,Louisiana,100.0,92.807279,0.509844,5.182106,3.993777,1.112506,11.854525,0.037911,79.838942,7.192721,0.499386,82.501896
0,Mississippi,100.0,90.777371,0.323905,4.522302,4.932747,0.536544,11.665513,0.044506,78.577787,9.222629,1.087924,80.090990
0,South Carolina,100.0,92.773977,0.523182,5.371987,2.950360,0.538448,11.627972,0.002776,80.607558,7.226023,1.036651,83.299796
0,Alabama,100.0,92.293394,0.515673,5.840291,3.311397,0.749524,11.203886,0.035977,80.339984,7.706606,0.566640,81.810550
0,Connecticut,100.0,91.266196,0.204653,6.657833,1.196996,1.043875,11.142521,0.113369,79.079800,8.733804,0.814193,82.283569
0,Tennessee,100.0,91.737782,0.351993,5.639813,2.590715,0.450461,10.451140,0.003395,80.837314,8.262218,0.949589,82.709328
0,Oregon,100.0,92.719733,0.908994,5.314940,0.466973,2.068703,10.149835,0.109317,80.501194,7.280267,1.138322,84.845352
0,Colorado,100.0,92.860527,0.536624,4.462069,0.931946,1.533096,10.105201,0.116800,81.222229,7.138657,1.027509,85.937500
0,Massachusetts,100.0,91.915691,0.218040,5.746309,1.126157,0.862214,9.697039,0.006120,81.356438,8.084309,1.011399,83.702854
0,Missouri,100.0,92.895674,0.524636,3.501272,3.933380,0.728198,9.210271,0.047189,82.958131,7.104326,0.514458,84.746704
0,Pennsylvania,100.0,92.781965,0.198282,5.895841,1.236679,0.458586,8.655346,0.017385,83.668032,7.218505,0.447779,84.962035
0,Kansas,100.0,90.584532,0.658273,4.206835,0.836331,1.037770,8.321942,0.028777,81.223022,9.415468,0.649281,84.325540
0,Michigan,100.0,93.539933,0.426468,5.231344,1.546411,0.791748,8.209204,0.030903,84.538982,6.460067,0.396801,86.061906
0,Arkansas,100.0,90.737277,0.726741,4.070180,2.006063,1.032058,8.146810,0.012901,81.556258,9.262723,0.528930,83.433314
0,Indiana,100.0,91.868263,0.284431,3.874251,1.488024,0.465070,7.681637,0.010978,83.722555,8.131737,0.669661,85.829341
0,Rhode Island,100.0,90.728128,0.101068,3.067188,0.782177,0.729446,7.395527,0.004394,82.607549,9.271872,1.401766,85.459419
0,Ohio,100.0,92.366540,0.148256,4.300590,1.762859,0.489941,7.310307,0.024902,84.566872,7.633460,0.364849,85.857164
0,Utah,100.0,93.869329,0.323664,2.956013,0.185934,1.379014,6.652320,0.191099,85.836274,6.132392,0.926229,89.152105
0,Kentucky,100.0,91.798780,0.213263,3.311850,1.013000,0.454752,6.063885,0.012545,85.278575,8.201220,0.776215,86.390366
0,Idaho,100.0,92.917379,0.754986,1.757835,0.034188,1.680912,5.484330,0.153846,85.752137,7.082621,0.726496,89.313390
0,Minnesota,100.0,92.536965,0.216359,2.997603,1.169774,0.640099,5.319197,0.031421,86.577669,7.463035,0.449775,87.701658
0,Wisconsin,100.0,92.406543,0.413539,2.898635,0.765240,0.737219,5.310299,0.020290,86.358059,7.593457,0.307255,87.999652
0,Wyoming,100.0,90.173006,0.646589,2.201899,0.128153,0.949496,5.242617,0.000000,83.980894,9.826994,0.926196,86.747830
0,New Hampshire,100.0,90.255878,0.204011,3.530429,0.228216,0.560166,4.903181,0.062241,84.792531,9.744122,0.266252,86.244813
0,West Virginia,100.0,88.854047,0.043663,2.750764,0.504108,0.182590,4.719565,0.003969,83.951891,11.145953,0.726392,84.690192
0,Iowa,100.0,91.004069,0.043186,2.474878,0.372062,0.352130,3.999668,0.056474,86.650610,8.995931,0.533178,87.775102
0,Nebraska,100.0,91.617357,0.040891,1.844903,0.642228,0.798576,3.790831,0.043296,87.027950,8.382643,0.596527,88.442296
0,Vermont,100.0,86.986500,0.654731,1.906252,0.220175,0.816965,3.175155,0.005794,82.994380,13.013500,0.069529,84.587751
0,Montana,100.0,91.427540,1.030928,0.814236,0.091930,1.158973,3.096067,0.059098,87.172500,8.572460,0.338171,89.634907
0,North Dakota,100.0,90.150710,0.946768,0.908125,0.072457,0.130422,2.936914,0.000000,87.083374,9.849290,0.555502,88.189547
0,Maine,100.0,91.758925,0.172287,1.809016,0.465814,0.555148,2.865074,0.035096,88.338704,8.241075,0.140382,89.340523
0,South Dakota,100.0,90.550816,0.639837,1.372404,0.097366,0.639837,2.647441,0.000000,87.263539,9.449184,0.324555,88.023924

In [16]:
states_report(col="SEX.display-label").sort_values(by="Female-owned",ascending=False).to_csv("output/states_sex.csv")
states_report(col="SEX.display-label").sort_values(by="Female-owned",ascending=False)

SEX.display-label,GEO.display-label,All firms,"All firms classifiable by gender, ethnicity, race, and veteran status",Equally male-/female-owned,Female-owned,Male-owned,"Publicly held and other firms not classifiable by gender, ethnicity, race, and veteran status"
0,Maryland,100.0,92.735081,10.902349,22.055213,59.778513,7.264919
0,Colorado,100.0,92.860527,14.143361,21.857848,56.860135,7.138657
0,Hawaii,100.0,89.720430,14.219355,21.638710,53.862366,10.279570
0,Florida,100.0,95.848293,15.043322,21.495344,59.309627,4.151707
0,Alaska,100.0,88.161893,16.822913,21.426262,49.912717,11.838107
0,Nevada,100.0,91.048817,16.559689,21.253602,53.235525,8.951183
0,Missouri,100.0,92.895674,16.729123,21.093685,55.072866,7.104326
0,Georgia,100.0,93.764715,11.025862,20.933503,61.805351,6.235285
0,Oregon,100.0,92.719733,18.383061,20.910420,53.426253,7.280267
0,Virginia,100.0,93.192013,11.946199,20.790461,60.455354,6.807987
0,Washington,100.0,93.075257,22.179598,20.043467,50.851463,6.924743
0,California,100.0,94.868790,15.396417,19.898124,59.574250,5.131210
0,New York,100.0,94.187435,8.665372,19.672124,65.849940,5.812565
0,Arizona,100.0,93.093349,19.837225,19.667667,53.588458,6.905623
0,Texas,100.0,94.070513,15.264100,19.447025,59.359387,5.929487
0,North Carolina,100.0,93.504892,13.559916,19.419788,60.525189,6.495108
0,New Mexico,100.0,90.001526,17.542360,19.074950,53.384216,10.001526
0,New Jersey,100.0,94.246429,9.665672,18.471847,66.108910,5.754115
0,Illinois,100.0,93.429476,11.824620,18.421697,63.183159,6.570524
0,District of Columbia,100.0,77.546183,5.318926,18.319972,53.907285,22.446846
0,Maine,100.0,91.758925,15.668570,18.214593,57.875762,8.241075
0,South Carolina,100.0,92.773977,11.511400,18.210078,63.052499,7.226023
0,Montana,100.0,91.427540,22.312693,18.136450,50.978396,8.572460
0,Ohio,100.0,92.366540,10.344348,18.086684,63.936088,7.633460
0,West Virginia,100.0,88.854047,12.777359,17.739054,58.341603,11.145953
0,Michigan,100.0,93.539933,11.315006,17.631062,64.593248,6.460067
0,Kentucky,100.0,91.798780,14.688495,17.587932,59.522353,8.201220
0,Louisiana,100.0,92.807279,14.542317,17.585693,60.680576,7.192721
0,Wyoming,100.0,90.173006,20.912215,17.556941,51.703850,9.826994
0,Pennsylvania,100.0,92.781965,9.541508,17.467157,65.773301,7.218505
0,Rhode Island,100.0,90.728128,12.835611,17.436393,60.456123,9.271872
0,New Hampshire,100.0,90.255878,11.645920,17.313278,61.296680,9.744122
0,Massachusetts,100.0,91.915691,9.856935,17.169306,64.889450,8.084309
0,Tennessee,100.0,91.737782,12.352582,17.124295,62.262037,8.262218
0,Oklahoma,100.0,92.766913,17.048372,17.107058,58.611482,7.233087
0,Alabama,100.0,92.293394,11.094455,17.033684,64.163756,7.706606
0,Connecticut,100.0,91.266196,8.227326,16.906655,66.130742,8.733804
0,Mississippi,100.0,90.777371,11.077045,16.711997,62.988330,9.222629
0,Indiana,100.0,91.868263,14.821357,16.692615,60.354291,8.131737
0,Kansas,100.0,90.584532,18.451439,16.681655,55.451439,9.415468
0,Minnesota,100.0,92.536965,15.611057,16.316692,60.609216,7.463035
0,Wisconsin,100.0,92.406543,18.209223,16.270037,57.927283,7.593457
0,Nebraska,100.0,91.617357,21.588012,15.954683,54.077067,8.382643
0,Iowa,100.0,91.004069,18.000166,15.307699,57.694544,8.995931
0,Arkansas,100.0,90.737277,18.632953,14.988497,57.115827,9.262723
0,Vermont,100.0,86.986500,17.579234,14.832841,54.574425,13.013500
0,Delaware,100.0,86.121155,10.563498,14.546365,61.011292,13.873283
0,Utah,100.0,93.869329,16.534389,14.416803,62.918137,6.132392
0,Idaho,100.0,92.917379,26.886040,14.396011,51.635328,7.082621
0,South Dakota,100.0,90.550816,21.021884,14.340690,55.183605,9.449184
0,North Dakota,100.0,90.150710,18.288088,13.815090,58.047532,9.849290

# Multiple dimensions: Age of business compared to other characteristics

Below I compute tables comparing age of business with three other characteristics: first, race of owner, then sex of owner, and finally veteran status of owner. I compute two tables for each comparison, one showing nominal values (count of businesses) and then percentages. 

The percentages are relative to the business age columns. In other words, in the Race table, the value 52.3 in the "Firms with 16 or more years in business" column in the "white" row, means that 52.3 percent of businesses 16+ years old are white-owned. NOT TO BE CONFUSED WITH THE INCORRECT INTERPRETATION: "52.3 percent of white-owned businesses are 16+ years old."

In [17]:
def multi_d(col="RACE_GROUP.display-label",state="Connecticut",
            df=state_frames["ASE_2014_00CSA02_with_ann.csv"],
           pct = False):
    tmpdf = by_col(cols=[col,"YIBSZFI.display-label"],df=df)
    tmpdf = pd.pivot_table(tmpdf, index=["GEO.display-label",col],
                         columns="YIBSZFI.display-label",
                         values="FIRMPDEMP")
    
    tmpdf = tmpdf.reset_index()
    tmpdf = tmpdf[tmpdf["GEO.display-label"] == state]

    col_order = [u'GEO.display-label', col, u'All firms',
               u'Firms with less than 2 years in business',
               u'Firms with 2 to 3 years in business',
               u'Firms with 4 to 5 years in business',
               u'Firms with 6 to 10 years in business',
               u'Firms with 11 to 15 years in business',
               u'Firms with 16 or more years in business',
              ]
    
    if pct == True:
        cols_to_fix = [u'Firms with less than 2 years in business',
               u'Firms with 2 to 3 years in business',
               u'Firms with 4 to 5 years in business',
               u'Firms with 6 to 10 years in business',
               u'Firms with 11 to 15 years in business',
               u'Firms with 16 or more years in business'
                       ]
        
        for c in cols_to_fix:
            new_col_name = "PCT_" + c
            tmpdf[new_col_name] = pd.to_numeric(tmpdf[c], errors="coerce")
            c_total = float(tmpdf[tmpdf[col] == "All firms"][c])
            tmpdf[new_col_name] = tmpdf[c] * 100 / c_total
            #tmpdf = tmpdf.drop(c)
            col_order[col_order.index(c)] = new_col_name
        
        
    return tmpdf[col_order]

def multi_d_report(col,state="Connecticut"):
    pct = multi_d(col=col, state=state, pct=True)
    pct.to_csv("output/multi/"+ state + "_" + col + "_" + "multi_pct.csv")
    nom = multi_d(col=col, state=state, pct=False)
    nom.to_csv("output/multi/"+ state + "_" + col + "_" + "multi_nom.csv")


def multi_d_reports(state="Connecticut"):
    cols = ["RACE_GROUP.display-label",
           "SEX.display-label",
           "VET_GROUP.display-label"]
    for c in cols:
        multi_d_report(c,state=state)
    
multi_d_reports()

generate_multi_report = lambda x: multi_d_reports(state=x)
for_every_state(generate_multi_report)

### Race of owner versus years in business

In [18]:
multi_d(col="RACE_GROUP.display-label", state="Connecticut", pct=False)

YIBSZFI.display-label,GEO.display-label,RACE_GROUP.display-label,All firms,Firms with less than 2 years in business,Firms with 2 to 3 years in business,Firms with 4 to 5 years in business,Firms with 6 to 10 years in business,Firms with 11 to 15 years in business,Firms with 16 or more years in business
72,Connecticut,All firms,67920,4884,7364,4999,12169,33760,4743
73,Connecticut,"All firms classifiable by gender, ethnicity, r...",61988,4743,6965,4831,11651,31287,2510
74,Connecticut,American Indian and Alaska Native,139,17,0,0,66,56,0
75,Connecticut,Asian,4522,937,1038,563,849,1126,10
76,Connecticut,Black or African American,813,102,124,24,240,312,11
77,Connecticut,Equally minority/nonminority,709,42,104,74,212,235,41
78,Connecticut,Minority,7568,1277,1452,1012,1765,2038,25
79,Connecticut,Native Hawaiian and Other Pacific Islander,77,0,0,43,31,3,0
80,Connecticut,Nonminority,53711,3424,5409,3746,9674,29013,2444
81,Connecticut,Publicly held and other firms not classifiable...,5932,141,400,168,518,2473,2233
82,Connecticut,Some other race,553,112,94,109,126,112,0
83,Connecticut,White,55887,3666,5690,4014,10372,29663,2482

### Race of owner versus years in business (%)

Percentages ("PCT_" columns) are relative to total businesses in each years-in-business column.

In [19]:
multi_d(col="RACE_GROUP.display-label", state="Connecticut", pct=True)

YIBSZFI.display-label,GEO.display-label,RACE_GROUP.display-label,All firms,PCT_Firms with less than 2 years in business,PCT_Firms with 2 to 3 years in business,PCT_Firms with 4 to 5 years in business,PCT_Firms with 6 to 10 years in business,PCT_Firms with 11 to 15 years in business,PCT_Firms with 16 or more years in business
72,Connecticut,All firms,67920,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
73,Connecticut,"All firms classifiable by gender, ethnicity, r...",61988,97.113022,94.581749,96.639328,95.743282,92.674763,52.920093
74,Connecticut,American Indian and Alaska Native,139,0.348075,0.000000,0.000000,0.542362,0.165877,0.000000
75,Connecticut,Asian,4522,19.185094,14.095600,11.262252,6.976744,3.335308,0.210837
76,Connecticut,Black or African American,813,2.088452,1.683867,0.480096,1.972225,0.924171,0.231921
77,Connecticut,Equally minority/nonminority,709,0.859951,1.412276,1.480296,1.742132,0.696090,0.864432
78,Connecticut,Minority,7568,26.146601,19.717545,20.244049,14.504068,6.036730,0.527093
79,Connecticut,Native Hawaiian and Other Pacific Islander,77,0.000000,0.000000,0.860172,0.254746,0.008886,0.000000
80,Connecticut,Nonminority,53711,70.106470,73.451928,74.934987,79.497083,85.938981,51.528568
81,Connecticut,Publicly held and other firms not classifiable...,5932,2.886978,5.431831,3.360672,4.256718,7.325237,47.079907
82,Connecticut,Some other race,553,2.293202,1.276480,2.180436,1.035418,0.331754,0.000000
83,Connecticut,White,55887,75.061425,77.267789,80.296059,85.232969,87.864336,52.329749

In [63]:
ct_race_for_chart = multi_d(col="RACE_GROUP.display-label", state="Connecticut", pct=True)
ct_race_for_chart[ct_race_for_chart["RACE_GROUP.display-label"] == "Minority"].transpose()

                                                       78
YIBSZFI.display-label
GEO.display-label                             Connecticut
RACE_GROUP.display-label                         Minority
All firms                                            7568
PCT_Firms with less than 2 years in business      26.1466
PCT_Firms with 2 to 3 years in business           19.7175
PCT_Firms with 4 to 5 years in business            20.244
PCT_Firms with 6 to 10 years in business          14.5041
PCT_Firms with 11 to 15 years in business         6.03673
PCT_Firms with 16 or more years in business      0.527093

### Sex of owner versus years in business

In [52]:
multi_d(col="SEX.display-label", state="Connecticut", pct=False)

YIBSZFI.display-label,GEO.display-label,SEX.display-label,All firms,Firms with less than 2 years in business,Firms with 2 to 3 years in business,Firms with 4 to 5 years in business,Firms with 6 to 10 years in business,Firms with 11 to 15 years in business,Firms with 16 or more years in business
36,Connecticut,All firms,67920,4884,7364,4999,12169,33760,4743
37,Connecticut,"All firms classifiable by gender, ethnicity, r...",61988,4743,6965,4831,11651,31287,2510
38,Connecticut,Equally male-/female-owned,5588,293,715,547,1210,2680,143
39,Connecticut,Female-owned,11483,1208,1584,1024,2359,4934,375
40,Connecticut,Male-owned,44916,3241,4666,3261,8082,23674,1993
41,Connecticut,Publicly held and other firms not classifiable...,5932,141,400,168,518,2473,2233

### Sex of owner versus years in business (%)

Percentages ("PCT_" columns) are relative to total businesses in each years-in-business column.

In [53]:
ct_sex_of_owners_for_chart = multi_d(col="SEX.display-label", state="Connecticut", pct=True)
ct_sex_of_owners_for_chart

YIBSZFI.display-label,GEO.display-label,SEX.display-label,All firms,PCT_Firms with less than 2 years in business,PCT_Firms with 2 to 3 years in business,PCT_Firms with 4 to 5 years in business,PCT_Firms with 6 to 10 years in business,PCT_Firms with 11 to 15 years in business,PCT_Firms with 16 or more years in business
36,Connecticut,All firms,67920,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
37,Connecticut,"All firms classifiable by gender, ethnicity, r...",61988,97.113022,94.581749,96.639328,95.743282,92.674763,52.920093
38,Connecticut,Equally male-/female-owned,5588,5.999181,9.709397,10.942188,9.943299,7.938389,3.014969
39,Connecticut,Female-owned,11483,24.733825,21.510049,20.484097,19.385323,14.614929,7.906388
40,Connecticut,Male-owned,44916,66.359541,63.362303,65.233047,66.414660,70.124408,42.019819
41,Connecticut,Publicly held and other firms not classifiable...,5932,2.886978,5.431831,3.360672,4.256718,7.325237,47.079907

In [62]:
ct_sex_of_owners_for_chart =  ct_sex_of_owners_for_chart\
[ct_sex_of_owners_for_chart["SEX.display-label"] == "Female-owned"]

ct_sex_of_owners_for_chart[[
                                          u'All firms',
       u'PCT_Firms with less than 2 years in business',
            u'PCT_Firms with 2 to 3 years in business',
            u'PCT_Firms with 4 to 5 years in business',
           u'PCT_Firms with 6 to 10 years in business',
          u'PCT_Firms with 11 to 15 years in business',
        u'PCT_Firms with 16 or more years in business']].transpose().reset_index()

                          YIBSZFI.display-label            39
0                                     All firms  11483.000000
1  PCT_Firms with less than 2 years in business     24.733825
2       PCT_Firms with 2 to 3 years in business     21.510049
3       PCT_Firms with 4 to 5 years in business     20.484097
4      PCT_Firms with 6 to 10 years in business     19.385323
5     PCT_Firms with 11 to 15 years in business     14.614929
6   PCT_Firms with 16 or more years in business      7.906388

### Veteran status of owner versus years in business

In [22]:
multi_d(col="VET_GROUP.display-label", state="Connecticut", pct=False)

YIBSZFI.display-label,GEO.display-label,VET_GROUP.display-label,All firms,Firms with less than 2 years in business,Firms with 2 to 3 years in business,Firms with 4 to 5 years in business,Firms with 6 to 10 years in business,Firms with 11 to 15 years in business,Firms with 16 or more years in business
36,Connecticut,All firms,67920,4884,7364,4999,12169,33760,4743
37,Connecticut,"All firms classifiable by gender, ethnicity, r...",61988,4743,6965,4831,11651,31287,2510
38,Connecticut,Equally veteran-/nonveteran-owned,1427,54,80,135,276,806,78
39,Connecticut,Nonveteran-owned,55051,4469,6551,4516,10469,26872,2174
40,Connecticut,Publicly held and other firms not classifiable...,5932,141,400,168,518,2473,2233
41,Connecticut,Veteran-owned,5509,221,334,180,906,3610,258

### Veteran status of owner versus years in business (%)

Percentages ("PCT_" columns) are relative to total businesses in each years-in-business column.

In [23]:
multi_d(col="VET_GROUP.display-label", state="Connecticut", pct=True)

YIBSZFI.display-label,GEO.display-label,VET_GROUP.display-label,All firms,PCT_Firms with less than 2 years in business,PCT_Firms with 2 to 3 years in business,PCT_Firms with 4 to 5 years in business,PCT_Firms with 6 to 10 years in business,PCT_Firms with 11 to 15 years in business,PCT_Firms with 16 or more years in business
36,Connecticut,All firms,67920,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
37,Connecticut,"All firms classifiable by gender, ethnicity, r...",61988,97.113022,94.581749,96.639328,95.743282,92.674763,52.920093
38,Connecticut,Equally veteran-/nonveteran-owned,1427,1.105651,1.086366,2.700540,2.268058,2.387441,1.644529
39,Connecticut,Nonveteran-owned,55051,91.502867,88.959804,90.338068,86.030076,79.597156,45.835969
40,Connecticut,Publicly held and other firms not classifiable...,5932,2.886978,5.431831,3.360672,4.256718,7.325237,47.079907
41,Connecticut,Veteran-owned,5509,4.524980,4.535578,3.600720,7.445148,10.693128,5.439595